/* Structure */
 html, body {
    height: 100%;
}
body p {
    color: #696969;
    font-family:"Muli", arial, sans-serif;
}
body h1 {
    color: #262626;
    font-family:'Roboto';
}
.cover {
    background: #121212;
    background-size: cover;
    display: table;
    width: 100%;
    height: 100%;
    /* For at least Firefox */
    min-height: 100%;
    text-align: center;
}
.cover-inner {
    display: table-cell;
    vertical-align: middle;
}
.inner {
    padding: 30px;
}
header {
    margin: 0 auto;
    max-width: 800px;
}
/* Forms */
 input[type="text"] {
    background: #303030;
    /*#121823*/
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 3px solid #262626;
    color: #eee;
    padding: 5px;
}
input[type="text"]:focus {
    outline: none;
}
button {
    background: DimGray;
    border: 3px solid DimGray;
    border-radius: 100%;
    margin: 10px 25px;
}
button:hover {
    color: black;
}
button:focus {
    outline: none;
}
/* Text Colors */
 .text-white {
    color: #eee;
}
.silver {
    color: silver;
}
.silver:hover {
    color: black;
}
.light-black {
    color: #262626;
}
/* BG Colors */
 .black-bg {
    background: #121212;
}
.light-black-bg {
    background: #262626;
}
.dimgray-bg {
    background: DimGray;
}
.silver-bg {
    background: silver;
}
.white-bg {
    background: #eee;
}
/* Fonts */
 .headline {
    font: 500 100px'Roboto';
    letter-spacing: 1px;
    text-transform: uppercase;
}
.muli {
    font: 400 14px/1.5'Muli';
}
/* Lines  */
 .border-line {
    border-top: 2px solid #262626;
    margin: 15px auto;
    max-width: 350px;
}
@media (max-width: 450px) {
    .headline {
        font-size: 70px;
    }
}