// Fancy custom CSS framework

// Normalize
@import "global/_normalize.scss";

// Variables
@import "global/_vars.scss";
$navy: #384452;
$skyblue: #B9D8ED;
$blue: #03A9F4;
$green: #60D317;
$orange: #F15823;
$red: #e74c3c;
$pink: #E91E63;
$purple: #4054B2;
$yellow: #FFF200;

$brown: #714104;
$silver: #757575;
$gray: #464646;
$dark: black;
$light: white;

// Base
@import "global/_base.scss";

// Grid System
@import "grid/_precompiled.scss";

/* ================================================================== */
/* This file has a mobile-to-tablet, and tablet-to-desktop breakpoint */
/* ================================================================== */

$media-mobile-max: 767px !default;
$media-tablet-min: 768px !default;
$media-tablet-max: 1024px !default;
$media-desktop-min: 1025px !default;
// 
// @import "grid/unsemantic-ie-snap.sass";
// 
// @media screen {
//   @import "grid/unsemantic-grid-base-tablet.sass";
// }
// @media screen and (max-width: 767px) {
//   @import "grid/unsemantic-grid-mobile.sass";
// }
// @media screen and (min-width: 768px) and (max-width: 1024px) {
//   @import "grid/unsemantic-grid-tablet.sass";
// }
// @media screen and (min-width: 1025px) {
//   @import "grid/unsemantic-grid-desktop.sass";
// }

// Components
@import "global/_scrollbars.scss";

// Animations
@import "global/_animations.scss";

// Forms
@import "global/_forms.scss";

// Buttons
@import "global/_buttons.scss";

// Typography
@import "global/_type.scss";
@import url(../fonts/kinic/stylesheet.css);

// Icons
@import url(../fonts/icons/style.css);

// Prettyprint Code
// @import "global/_prettyprint-monokai.scss";

// Modals
// @import "global/_modal.scss";

// Long Shadows
// @import "global/_longshadows.scss";

// Navigation
@import "_nav.scss";

// Tooltips
// @import "global/_tooltips.scss";

// Custom Styles
body {
  font-size: 20px;
  font-weight: 300;
//  font-family: 'Roboto', $fonts;
}

h1, h2, h3, .button-jumbo {
  font-weight: bold;
}


input, div.gm-iw div, div.gm-style-mtc div, div.gm-style-cc div {
  font-family: $fonts!important;
}

img {
  max-width: 100%;
  height: auto; 
}

hr {
  border: 2px solid rgba(0,0,0,.5);
}

header, section, footer, .footnote {
  position: relative; overflow: hidden;
  padding: 40px 0px;
  background: white
}

.sr-only, .back2top {
  display: none;
}

.transition {
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.padded {
  padding: 50px 0;
}

.text-white {
  color: white;
}

// Grid overrides
.row {
  [class^=col]:first-child {
    padding-left: 0px;
  }
  [class^=col]:last-child {
    padding-right: 0px;
  }
}

// Buttons
.button {
  // @extend .button-large;
  border-radius: 6px;
  margin-right: 0.2em;
}

.button {
  @include button-inset($orange);
  outline: none;
  font-weight: normal;
  &.btn-large {
    @extend .button-jumbo;
  }
}

.button-orange {
  @include button-inset($orange);
}

.button-blue {
  @include button-inset($blue);
}

.button-green {
  @include button-inset($green);
}


.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.dark-text-shadow {
  text-shadow: rgba(41, 52, 63, 0.4) 0px -1px 0px;
}

i {
  font-size: 80%;
  vertical-align: baseline;
}

ul.details {
    border-top: 1px dotted;
    margin: 1em 2em;
    li {
      padding: .5em;
      border-bottom: 1px dotted;
    }
}

a {
  display: inline-block;
  -webkit-tap-highlight-color: rgba(30, 152, 211, 0.5);
  @extend .transition;
  /* &:active {
    -webkit-transform: scale(0.9);
  } */
}

img {
  max-width: 100%;
}

.row:before, .row:after {
  clear: both;
  content: ' ';
}

.linearound {
  display: block;
  width: 100%;
  position: relative;
  text-align: center;
  &::after {
    content: ' ';
    border-bottom: 1px solid #7d7d7d;
    width: auto;
    display: block;
    margin-top: -2.4em;
  }
  h1, h2 {
    display: inline-block;
    text-align: center;
    font-size: 60px;
    color: #7d7d7d;
    background: white;
    padding: 0px 20px;
  }
}

.love {
  color: $red;
  display: inline-block;
  animation: 1s heartbeat infinite;
  -moz-animation: 1s heartbeat infinite;
  -webkit-animation: 1s heartbeat infinite;
  -ms-animation: 1s heartbeat infinite;
}

.highlight {
  background: $yellow;
}

// White Box
.white-box {
  border-radius: $border-radius;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.15);
  height: 100%;
  overflow: hidden;
  position: relative;
  color: rgb(117, 117, 117);
  margin: 5px;
  padding: 20px;
  background: white;
  h1, h2, h3 {
    color: black;
    line-height: 1em;
    margin: 0px;
    border-bottom: 1px solid;
    i {
      float: right;
    }
  }
}

// Intro
#intro {
  // background: rgba(223, 245, 255, 1);
  color: black;
  background: url(/images/dc-capitol-side.jpg); 
  background-size: cover;
  background-position: middle;
  padding-bottom: 0px;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  &:before {
    position: absolute;
    content: ' ';
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.6);
    z-index: 100;
  }
  * {
    position: relative;
    z-index: 200;
  }
  .middled {
    // height: 450px;
    height: 270px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }
  .logo {
    line-height: 140px;
    text-align: center;
    font-size: 180px;
    font-weight: 200;
    // letter-spacing: -10px;
  }
  h1 {
    font-size: 80px;
  }
  hr {
    max-width: 300px;
    margin: -20px auto 10px auto;
    border: 2px solid rgba(0,0,0,.5);
  }
  .circle {
    width: 140px;
    height: 140px;
    padding-top: 25px;
    vertical-align: middle;
    border-radius: 50%;
    border: 2px solid black;
    display: inline-block;
    margin: -60px -30px 0 -30px;
  }
  .compact {
    display: inline-block;
    margin: -50px -30px 10px -30px;
    max-width: 55%;
    padding-top: 20px;
    vertical-align: middle;
  }
  .brace-left, .brace-right {
    // display: inline-block;
    margin-top: -80px;
    font-weight: bold;
    vertical-align: middle;
  }
  .ribbon {
    @extend h1;
    font-size: 80px;
    display: block;
    line-height: 146px;
    vertical-align: middle;
    background: url(/vectors/logo-ribbon.png);
    background-size: 550px 146px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -122px;
    margin-left: -10px;
    position: relative;
  }

  .lead {
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

// Waves
.waves {
  display: block;
  position: relative;
  height: 80px;
  background: url(/vectors/wave.png);
  background-repeat: repeat-x;
  background-size: 80px 60px;
  &:after {
    position: absolute;
    content: ' ';
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    background: url(/vectors/wave-water.png);
    background-repeat: repeat-x;
    background-size: 160px 120px;
  }
}

// Holo
#learn {
  // background: $green;
}
#code {
  // background: $blue;
}
#swag {
  // background: $purple;
}

// About
#about {

}

// Venue
#venue {
  background: $navy;
  color: white;
}

// Prizes
#prizes {
  background: $purple;
  color: white;
  ul li.main {
    font-size: 40px;
  }
}


// Schedule
#schedule {
  background: $green;
  color: white;
  .timeline {
    width: 100%;
    max-width: 920px;
    margin: auto;
    position: relative;
  }
  .pole {
    background: rgba(0,0,0,.5);
    background: $navy;
    background: linear-gradient($navy, $purple);
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -3px;
    width: 6px;
    height: 100%;
  }
  .event {
    width: 400px;
    max-width: 45%;
    margin-bottom: 50px;
    position: relative;
    overflow: visible;
    h3 {
      padding-right: 70px;
    }
    .time {
      float: right;
      margin-top: -30px;
    }
    &:nth-child(2n+0) {
      float: left;
      margin-left: 10px;
      &:before {
        position: absolute;
        width: 6px;
        height: 6px;
        content: " ";
        display: block;
        background: none repeat scroll 0% 0% transparent;
        border: 6px solid $green;
        border-radius: 50%;
        box-sizing: content-box;
        right: -14.8%;
        top: 25px;
      }
      &:after {
        content: "";
        display: block;
        margin-left: -40px;
        transform: rotate(270deg);
        position: absolute;
        top: 20px;
        right: -37px;
        border-style: solid;
        border-width: 25px 25px 0px;
        border-color: #FFF transparent transparent;
      }
    }
    &:nth-child(2n+1) {
      // margin-top: 20px;
      float: right;
      &:before {
        position: absolute;
        width: 6px;
        height: 6px;
        content: " ";
        display: block;
        background: none repeat scroll 0% 0% transparent;
        border: 6px solid $green;
        border-radius: 50%;
        box-sizing: content-box;
        left: -15.9%;
        top: 25px;
      }
      &:after {
        content: "";
        display: block;
        margin-left: -40px;
        transform: rotate(270deg);
        position: absolute;
        left: 15px;
        margin-left: -52px;
        transform: rotate(90deg);
        top: 25px;
        border-style: solid;
        border-width: 25px 25px 0px;
        border-color: #FFF transparent transparent;
      }
    }
    &:nth-child(3) {
      margin-top: 30px;
    }
  }
}

// FAQ
#faq {
  background: $red;
  color: white;
  .qna {
    margin-bottom: 20px;
  }
}
#faq-submit {
  background: darken($red, 20%);
  color: white;
  textarea {
    background: rgba(0,0,0,.5);
    border: 0px;
    padding: 10px;
    border-radius: $border-radius;
  }
  input.submit {
    @extend .button;
    @include button-subtle($gray);
  }
}

.register-button {
  @include button-subtle($red);
}

// Sponsors
#sponsors {
  background: $blue;
  color: white;
  .white-box {
    min-height: 375px;
    margin-bottom: 1.3em;
    p {
      margin-bottom: 2px;
    }
    &.editable {
      max-height: 500px;
      overflow: hidden;
      h3, p {
        border: 1px dotted black;
      }
    }
  }
}
.white-box .brand {
  text-align: center;
  margin: -20px -20px 15px -20px;
  height: 150px;
  line-height: 150px;
  background: black;
  color: white;
  overflow: hidden;
  img {
    vertical-align: middle;
    max-width: 85%;
    max-height: 95%;
    margin: auto;
  }
}

// Footer
#more {
  background: $navy;
  color: white;
}

.visible-mobile {
  visibility: hidden;
}

@media screen and (max-width: $mobile) {
  .hidden-mobile {
    display: none!important;
  }
  .visible-mobile {
    visibility: visible;
  }
  .mobile-transition {
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
  }
  .row {
    [class^=col]:first-child {
      padding-left: 10px;
    }
    [class^=col]:last-child {
      padding-right: 10px;
    }
  }
  .button {
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  }
  .button-jumbo, .button-large {
    display: block;
    margin-bottom: 10px;
  }
  .button-jumbo {
    font-size: 24px;
  }
  .button-large {
    font-size: 20px;
  }
  h1 {
    font-size: 32px;
    text-align: center;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 16px;
    line-height: 18px;
    margin: 6px 0;
  }
  p.lead {
    font-size: 22px;
  }
  #intro {
    height: auto!important;
    min-height: 300px;
    max-height: 1080px;
    .middled {
      position: relative;
      height: auto;
      padding: 20px 0;
    }
    .brace-left, .brace-right {
      font-size: 120px;
      vertical-align: top;
    }
    h1 {
      display: none;
    }
    hr {
      margin-top: 20px;
    }
    p.lead {
      font-size: 28px;
    }
  }
  #about {
    background: $gray;
    padding: 20px 0;
    .white-box {
      margin: 20px 0;
    }
  }
  // Schedule single column
  #schedule {
    .pole {
      display: none;
    }
    .event {
      float: none!important;
      margin-top: 10px!important;
      margin-bottom: 10px!important; 
      margin-left: 0px!important;
      width: auto!important;
      display: block;
      max-width: 100%;
      &:before, &:after {
        display: none!important;
      }
    }
  }
  // FAQ: collapsable questions
  #faq .qna {
    cursor: pointer;
    i.icon-arrow-right {
      @extend .mobile-transition;
    }
    h3 {
      font-size: 18px;
    }
    h3, .question {
      border-bottom-color: white;
      @extend .mobile-transition;
    }
    p, .answer, ul {
      @extend .mobile-transition;
      height: 0px;
      overflow: hidden;
      margin: 0px;
    }
    &.expanded {
      i.icon-arrow-right {
        transform: rotate(90deg);
      }
      h3, .question {
        border-bottom-color: black;
      }
      p, .answer, ul {
        height: auto;
        margin: 8px 0px;
      }
    }
  }
  #faq-submit {
    display: none;
  }
  // Sponsors: name and website
  header .button-blue {
    display: none;
  }
  #sponsors {
    // Or hide them on mobile
    display: none;
    .brand, p, .editable {
      display: none;
    }
    .white-box {
      min-height: 0px;
      margin-bottom: 10px;
    }
    h3, .buttons {
      display: inline-block;
      border-bottom: none;
    }
    // Center smaller headings
    #faq-submit h2, #more h2 {
      font-size: 32px;
      text-align: center;
    }
  }
}